src/main/mule/order-ecommerce-exp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core  http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af982dbc-33d6-4d5e-ad5c-cc4608b2fb61" >
		<http:listener-connection host="${api.host}" port="${http.port}" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="a884a576-3a2a-474b-b612-bf2a777962cc" flowRef="api-main" />
	<flow name="api-main" doc:id="5dff7660-30a2-4ad1-b13f-e1d65b4f0642" >
		<http:listener doc:name="Listener" doc:id="5cb8459b-4d77-42d5-b381-cd4491b913ce" config-ref="HTTP_Listener_config" path="/SalesOrder" >
			<http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]" >
				<http:headers ><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit-soap:router doc:name="SOAP Router" doc:id="95f36960-6628-4047-8b85-6ff701f73d71" config-ref="soapkit-config" >
			<apikit-soap:attributes ><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
		</apikit-soap:router>
		<error-handler ref="error-handler" />
	</flow>
	<flow name="CreateOrder:\soapkit-config" doc:id="1104da1e-f460-4c8f-b2df-bf3892fbfe3b" >
		<logger level="INFO" doc:name="START" doc:id="2b2033fe-b6ba-4eb3-af69-bf07148363b9" message="START"/>
		<flow-ref doc:name="transform-salesorder-to-json" doc:id="4097ea66-254e-49ef-8cb2-18c2d346ca9a" name="transform-salesorder-to-json"/>
		<logger level="INFO" doc:name="END" doc:id="73d5a92f-66ad-4a95-b0a7-93bceaa0b5d3" message="END"/>
		<error-handler ref="error-handler-propogate" />
	</flow>
</mule>
